# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files


# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
data/DoctrineORMModule/Proxy/
*.log
*.rar

# Legacy ZF1
demos/
extras/documentation

# PHPStorm
.idea/
.DS_Store

public/uploads
module/Landing/language/zh-CN.po
module/Landing/language/zh-CN.mo
